.h6{
    color: red;
}
.container{
    margin-bottom: 0px;
    background-color: white;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: -50px;
    padding-right: 10px;
    display: inline-block; 
    margin-right:-240px; 
    padding-top: 50px;
}
.half-width img{
    width: 20%;
}
.orange-bg{
    background-color:palegreen;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color:rebeccapurple;
}
.buy-now-button{
    background-image: linear-gradient(to bottom,#69be07e3 0%,#39cc0cd8 100%);
    color: #ffff;
    border: none;
    border-radius: 45px;
    padding: 9px 25px;
    cursor: pointer;
    margin-bottom: 40px;
    margin-top: 10px;
}

.cat1, .cat2, .cat3{
    padding: 50px 50px;
    margin: 30px 30px;
    border-radius: 15px;
}
.cat1{
    background-color: greenyellow;
    
    
}
.cat2{
    background-color: seagreen;
   
}

.cat4{
    background-color:rgb(255, 47, 144);
}

.catagories h1{
    color: white;
}
.catagories img{
    width: 100px;
}

.card{
    border: none;
    box-shadow: 5px 5px 10px;
}
#Contact{
    height: 300px;
}
footer{
    text-align: center;
}
.col-mid-3{
    
    padding: 40px;
    text-align: center;
    margin-top: 50px;
}

.incentre{
text-align: center;
padding-top: 70px;
}

.spaceup{
    margin-top: 80px;
    padding-top: 10px;
}

.box1{
    width: 100%;
    height: 300px;
    background-color:rgb(66, 56, 56);
     color: white;
     padding: 20px;
     margin-top: 190px;
}

.imag-padding{

     padding-right: 500px;
}

.txt-padding{
    color: black;
    padding:20px;
}